<ul id="nav">
  <a href="/index.html#main"><img id="nav_logo" src="/res/logo.png"/></a>
  <a href="/index.html#main"><div class="nav_title">
      <p id="nav_name"><b>Arc One</b></p>
    </div></a>
    <li class="dropdown">
      <a class="dropbtn" href="/index.html#team">Team</a>
      <div class="dropdown-content">
        <a href="/members.html#team">Info</a>

      </div>
    </li>
    <li><a href="/blogs.html">Blogs</a></li>
   
	  <li class="dropdown">
      <a class="dropbtn" href="/index.html#contact">Contact</a>
      <div class="dropdown-content">
        <a href="/outreach.html">Outreach</a>
        <a href="/sponsorship.html">Sponsorship</a>
      </div>
    </li>
  </ul>
